
.shop-beton-switch-list {
  padding: 20px 30px;
  border: 1px solid #ccc;
  margin: 20px 0;
  border-radius: 5px;
  background: url(https://images.unsplash.com/photo-1571824655925-6ec62810a5c0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80) fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:rgba(255,255,255, 0.7);
    left: 0;
    top: 0;
  }
 
  & .shop-beton-switch-field {
    flex-direction: row;
    gap: 20px;
    margin: 30px 0;
    position: relative;

    & .shop-beton-switch-select,
    & .shop-beton-switch-hydro-count {
      position: absolute;
      background-color:rgba(255,255,255, 0.7);
      border-radius: 5px;
      bottom: -20px;
      left: -10px;
      width: 120px;
      z-index: 6;
    }
  }

  & .shop-beton-switch-field:not(:last-child) {
    padding-bottom: 26px;
  }

}