@import '../../../../variables';

.features {
  width: 100%;
}

.features-block {
  width: 100%;
  height: 500px;
  border: 1px solid #ccc;
  background-color: gainsboro;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
  color: #777;
}