.form-beton-price-wrapper {
  padding: 20px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 20px;
  max-width: 1400px;
  margin: 30px;
  background-color:rgba(255,255,255, 0.9);

  & h2 {
    text-align: center;
  }

  & .form-beton-price {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 1.5rem;
  }
}